.topbar {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  &__wrapper {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    &--logo {
      font-weight: 700;
      color: var(--pri);
    }
  }
  &__right {
  }
}
